.main{
    display:  flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    align-items: center;
    border: 1px solid rebeccapurple;
    box-shadow:  10px 10px 30px;
    justify-content: center;
    margin: 50px auto;
    margin-bottom: 10px;

}
.button{
    display: flex;
    width: 80px;
    height: 30px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(193, 8, 8);
    
}

.buttons{
    display: flex;
    gap: 5px;
}

img{width: 250px;}